.container{
  display: none;
  margin: 0%;
}
/* =================BODY=============*/
.espacio1{/*espacio entre vanegador y diapo1=*/
  margin-top: 20%;
}


/* =================FOOTER=============*/
.footer{
  background-color: #152C35;
  color: white;
  margin-top: 15%;
  width: 100%;;
}
.iconosrrss{
  text-align: center;
}
